.addition {
  background-color: #ffffff;
  color: #000000;
}

.addition__item {
  padding: 10px 0 0 47px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-color: #ffffff;
  color: #000000;

  &--house {
    background-image: url("../../img/sprite.svg#house");
  }

  &--food {
    background-image: url("../../img/sprite.svg#burger");
  }

  &--souvenirs {
    background-image: url("../../img/sprite.svg#souvenirs");
  }

  &:nth-child(2) {
    margin-top: 23px;
    margin-bottom: 23px;
  }

  @media (min-width: $tablet) {
    padding: 155px 33px 62px;
    background-size: 80px 80px;
    // background-position: center 57px, center;

    &--house {
      // background-size: 77px 72px;
      background-size: 80px 83px;
      background-position: 49% 22%;
    }

    &--food {
      // background-size: 80.2px 67.9px;
      background-size: 82px 81px;
      background-position: 49.3% 22%;
    }

    &--souvenirs {
      // background-size: 66.5px 75px;
      background-size: 83px 81px;
      background-position: 51.3% 24%;
    }

    &:nth-child(2) {
      margin: 0;
    }
  }

  @media (min-width: $desktop) {
    padding: 166px 33px 71px;
    background-position: 49% 27%;

    &--house {
      background-image: url("../../img/sprite.svg#iconHouse");
      background-size: 79px 80px;
      background-position: 49% 26%;
    }

    &--food {
      background-image: url("../../img/sprite.svg#iconBurger");
      background-size: 75px 76px;
    }

    &--souvenirs {
      background-image: url("../../img/sprite.svg#iconGift");
      background-size: 79px 79px;
    }
  }
}

.addition__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 16px 0;

  @media (min-width: $tablet) {
    font-size: 21px;
    text-align: center;
    margin: 0 0 21px 0;
  }
}

.addition__icon-text {
  font-size: 14px;
  line-height: 150%;
  color: #333333;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet) {
    text-align: center;
  }
}
