.fieldset-checkbox {
  padding-bottom: 24px;

  @media (min-width: $tablet) {
    width: 648px;
    padding-bottom: 19px;

    & .fieldset__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 224px);
      gap: 16px 31px;
      justify-content: flex-start;
      margin-left: 84px;
    }
  }

  @media (min-width: $desktop) {
    width: 960px;
    padding-bottom: 59px;

    & .fieldset__wrapper {
      display: flex;
      flex-direction: row;
      gap: 64px;
      margin-left: 45px;
    }
  }
}

.fieldset-checkbox__title {
  margin-bottom: 21px;

  @media (min-width: $tablet) {
    margin-bottom: 29px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 58px;
  }
}
