@import "variables.scss";

.fieldset {
  margin: 0 auto;
  padding: 0;
  border: none;
  padding-top: 24px;
  width: 280px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
  }

  @media (min-width: $tablet) {
    margin: 0;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    padding: 28px 0 0;
  }
}

.fieldset__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
