@import 'variables.scss';

.gallery {
  margin-top: 37px;

  @media (min-width: $tablet) {
    width: 648px;
    margin: 61px auto 0;
  }

  @media (min-width: $desktop) {
    width: 1200px;
    margin: 105px auto 0;
  }
}

.gallery__text {
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    width: 458px;
    margin: 0 auto 87px;
  }
}
