.gallery {
  margin-top: 37px;

  @media (min-width: $tablet) {
    width: 648px;
    padding: 61px 20px 0;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    width: 1200px;
    padding: 105px 0 0;
  }
}

.gallery__text {
  @media (min-width: $tablet) {
    margin: 0;
  }
}
