.hero-block {
  position: relative;
  box-sizing: border-box;
  background-image: url("../../img/intro-triangle.svg"), url("../../img/back-hero-mobile-index.webp");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom -0.2px, center;
  background-size: auto, cover;
  background-color: #d7e3ed;
  padding: 90px 19px 85px;
  color: #ffffff;

  @media (min-resolution: 2dppx) and (max-width: $tablet) {
    background-image: url("../../img/intro-triangle.svg"), url("../../img/back-hero-mobile-index@2x.webp");
  }

  @media (min-width: $tablet) {
    padding: 77px 100px 91px;
    background-image: url("../../img/intro-triangle.svg"), url("../../img/back-hero-tablet-index.webp");
  }

  @media (min-resolution: 2dppx) and (min-width: $tablet) {
    background-image: url("../../img/intro-triangle.svg"), url("../../img/back-hero-tablet-index@2x.webp");
  }

  @media (min-width: $desktop) {
    background-size: contain, cover;
    padding: 78px 100px 90px;
    background-image: url("../../img/intro-triangle.svg"), url("../../img/back-hero-desktop-index.webp");
  }

  @media (min-resolution: 2dppx) and (min-width: $desktop) {
    background-image: url("../../img/intro-triangle.svg"), url("../../img/back-hero-desktop-index@2x.webp");
  }

  &--not-index {
    height: 158px;
    background-size: auto, cover;
    background-position: center bottom -0.2px, right 50% bottom 5%;
    background-color: #7e605d;
    padding: 52px 45px 46px;
    background-image: url("../../img/intro-triangle.svg"), url("../../img/back-hero-mobile.webp");

    @media (min-resolution: 2dppx) and (max-width: $tablet) {
      background-image: url("../../img/intro-triangle.svg"), url("../../img/back-hero-mobile@2x.webp");
    }


    @media (min-width: $tablet) {
      height: 290px;
      background-size: auto, cover;
      padding: 95px 50px 117.4px;
      background-image: url("../../img/intro-triangle.svg"), url("../../img/back-hero-tablet.webp");
    }

    @media (min-resolution: 2dppx) and (min-width: $tablet) {
      background-image: url("../../img/intro-triangle.svg"), url("../../img/back-hero-tablet@2x.webp");
    }

    @media (min-width: $desktop) {
      height: 301px;
      background-size: contain, cover;
      padding: 102px 100px 105.2px;
      background-image: url("../../img/intro-triangle.svg"), url("../../img/back-hero-desktop.webp");
    }

    @media (min-resolution: 2dppx)  and (min-width: $desktop) {
      background-image: url("../../img/intro-triangle.svg"), url("../../img/back-hero-desktop@2x.webp");
    }
  }

  &:only-child:not(:last-child) {
    margin-bottom: 20px;
  }
}

.hero-block__text {
  @media (min-width: $tablet) {
    display: block;
    width: 461px;
    height: 349.97px;
    margin: 0 auto;
  }

  &--not-index {
    width: 229px;
    height: 39px;
    object-fit: cover;

    @media (min-width: $tablet) {
      width: 462px;
      height: 78px;
    }

    @media (min-width: $desktop) {
      width: 460px;
      height: 80px;
    }
  }
}
