@import 'variables.scss';

.modal-success {
  display: block;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 3;
  width: 100%;
  min-height: 280px;
  background-color: #ffffff;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    width: 640px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal-success__wrapper-text {
  padding: 45px 42px 0;
  margin-bottom: 54px;

  @media (min-height: $tablet) {
    padding: 52px 99px 0;
    margin-bottom: 35px;
  }
}

.modal-success__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 28px;
  }
}

.modal-success__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  @media (min-height: $tablet) {
    width: 420px;
    margin: 0 auto;
  }
}

.modal-success__wrapper {
  background-color: #f2f2f2;
  padding: 20px;

  @media (min-height: $tablet) {
    padding: 44px 91px;
  }
}

.modal-success__button {
  width: 280px;
  padding: 18px 20px 14px;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    width: 100%;
  }
}
