@import 'variables.scss';

.navigation-button__mark {
  display: block;
  width: 23px;
  height: 22px;
  background-color: $main-blue-color;
  mask-image: url("../../img/open-menu.svg");
  // position: relative;

  &:hover {
    background-color: $main-blue-color-hover;
  }
  &:active {
    background-color: $main-blue-color-down;
  }
}

.navigation-button__input:checked + .navigation-button__mark {
  background-color: #ffffff;
  mask-image: url("../../img/close-menu.svg");

  &:hover {
    background-color: rgba(255, 255, 255, .6);
  }
  &:active {
    background-color: rgba(255, 255, 255, .3);
  }
}

.navigation-button__input:focus + .navigation-button__mark {
  background-color: $main-blue-color-hover;
}

.navigation-button__input:checked:focus + .navigation-button__mark {
  background-color: rgba(255, 255, 255, .6);
}
