.page {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;

  @media (min-width: $desktop) {
    background-color: #f2f2f2;
  }
}
