@import "mixins.scss";
@import "variables.scss";

.social-list {
  @include reset-list;
  display: flex;
  flex-direction: row;
}

.social-list__item {
  width: 48px;
  height: 48px;
  background-color: $main-blue-color;

  &:nth-child(2) {
    margin: 0 6px;
  }

  &:hover {
    background-color: $main-blue-color-hover;
  }

  &:focus-within {
    background-color: $main-blue-color-hover;
  }

  &:active {
    background-color: $main-blue-color-down;
  }
}

.social-list__link {
  display: block;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  mask-size: 24px 24px;
  mask-repeat: no-repeat;
  mask-position: center;
  position: relative;

  &--vk {
    mask-image: url("../../img/svg/vk.svg");
  }

  &--telegram {
    mask-image: url("../../img/svg/telegram.svg");
  }

  &--youtube {
    mask-image: url("../../img/svg/youtube.svg");
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
