@import 'variables.scss';

.video-block {
  width: 280px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 17px;

  @media (min-width: $tablet) {
    width: 648px;
    margin-top: 58px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop) {
    width: 800px;
    margin-top: 67px;
    margin-bottom: 84px;
  }
}

.video-block__text-wrapper {
  width: 266px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 445px;
  }
}

.video-block__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 27px;

  @media (min-width: $tablet) {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 26px;
  }
}

.video-block__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
