$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;

$main-blue-color: #81b3d2;
$main-blue-color-hover: #669ec0;
$main-blue-color-down: #5496bd;
$main-grey-color: #eeeeee;
$menu-link-color-current: #766357;
